<h2 style="color:darkred; text-align:center;margin:40px">Çocuk Acil Bölümü</h2>

<p>
    Çocuk Acil Servisi, hızlı ve etkili bir şekilde tıbbi müdahale gerektiren durumlarda çocuk hastalarımıza 7/24 hizmet vermektedir. Ekibimiz, uzman doktorlar, hemşireler ve destek personellerden oluşmaktadır.
    Hedefimiz, acil durumlarda doğru tanı ve tedavi yöntemlerini uygulayarak çocuklarımızın sağlık durumlarını en kısa sürede stabilize etmektir. Acil servisimizde ateş, enfeksiyonlar, kazalar, zehirlenmeler, alerjik reaksiyonlar ve diğer akut durumlar için gerekli tüm tıbbi cihazlar ve ilaçlar bulunmaktadır.
</p>

<h2 style="color:darkred; text-align:center;margin:40px">Çocuk Yoğun Bakım Bölümü</h2>

<p>
    Çocuk Yoğun Bakım Ünitemiz, kritik bakım gerektiren çocuk hastalarımız için ileri düzey tıbbi destek sunmaktadır. Ünitemizde, solunum yetmezliği, organ yetmezlikleri, ciddi enfeksiyonlar, cerrahi sonrası izleme ve travma gibi durumlar için özel ekipman ve eğitimli personel bulunmaktadır.
    Yoğun bakım ekibimiz, çocuk sağlığı ve hastalıkları uzmanları, yoğun bakım hemşireleri ve diğer ilgili sağlık profesyonellerinden oluşmaktadır. Hastalarımızın yaşam kalitesini artırmak için en güncel tedavi yöntemlerini uyguluyoruz.
</p>

<h2 style="color:darkred; text-align:center;margin:40px">Çocuk Hematolojisi ve Onkolojisi Bölümü</h2>

<p>
    Çocuk Hematolojisi ve Onkolojisi Bölümü, kan hastalıkları ve kanser tanısı almış çocuklarımızın teşhis ve tedavisine odaklanmaktadır. Bölümümüz, lösemi, lenfoma, hemofili, orak hücre anemisi, talasemi ve diğer hematolojik rahatsızlıkların yanı sıra çocukluk çağı tümörlerinin tedavisinde de uzmanlaşmıştır.
    Hasta çocuklarımızın tedavi süreçlerini desteklemek için kemoterapi, kan ve kan ürünü transfüzyonları, kemik iliği nakli ve diğer özel tedavi yöntemleri uygulanmaktadır. Çocuklarımızın fiziksel ve psikolojik sağlığını desteklemek amacıyla ailelerimizle sürekli iletişim halinde çalışıyoruz
</p>



<table class="table table-striped table-hover mt-5">
    <tr>
        <td>Bölüm Id</td>
        <td>Bölüm Ad</td>
        <td>Hasta Sayısı</td>
        <td>Boş Yatak Sayısı</td>

    </tr>
    @foreach (var item in ViewBag.BolumListe as List<Bolum>)
    {

        <tr>
            <td>@item.BolumId</td>
            <td>@item.BolumAd</td>
            <td>@item.Hasta_Sayisi</td>
            <td>@item.Bos_Yatak_Sayisi</td>

        </tr>
    }

</table>


